<nav class="navbar navbar-expand-lg navbar-light bg-light headerCamp">
  <a class="navbar-brand ongLogo" routerLink="/public/home"
    ><img height="80px" src="../../../../../assets/images/logo.png"
  /></a>
  <a class="navbar-brand camplogo"
    ><img height="80px" src="{{ campLogo }}"
  /></a>
  <h4 class="campSlogan">{{ slogan }}</h4>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle menu"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/public/toycampaign"
            >Campaña Juguetes</a
          >
          <a class="dropdown-item" routerLink="/public/schoolCampaign"
            >Campaña Escolar
          </a>
          <a *ngIf="!token" class="dropdown-item log" routerLink="/public/login"
            >Ingresar</a
          >
          <a
            *ngIf="!token"
            class="dropdown-item reg"
            routerLink="/public/register"
            >Registrar</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
