.campSlogan{
    vertical-align:baseline;
    vertical-align: text-bottom; 
    margin-top: 13px;
    

}
.navbar-collapse{
    vertical-align:initial;
}

.login{
      margin-top: 5px;
      margin-bottom: 5px;
}
.register{
    margin-top: 5px;
    margin-bottom: 5px;
}



@media screen and (min-width: 300px) {
    .ongLogo{
        display:none;
    }
    .headerCamp{
        justify-content: center;
    }
    
    .navbar-collapse{
        display: inline;
    }
    .logReg{
        justify-content: center;
        display: flex;
        flex-flow: row;
    }

    .campSlogan{
        display: none;
    }
    
  }
  
  @media screen and (min-width: 600px) {
    .ongLogo{
        display:block;
    }
    .campLogo{
        display:block;
    }

    .logReg{
        justify-content: center;
        display: flex;
        flex-flow: row;
    }

    .campSlogan{
        display: none;
    }
  
  }
  
  @media screen and (min-width: 900px) {
    .nombres {
      display: inline;
    }
    p {
      display: block;
    }
    .logReg{
        justify-content: center;
        display: flex;
        flex-flow: row;
    }

    .campSlogan{
        display: block;
    }

  }

  @media screen and (min-width: 1440px) {
   .headerCamp{
    opacity: 0.6;
    position: relative;
    z-index: 100000;
   } 
    
 

  }