<!-- <div class="contenedor">
  <nav
    *ngIf="organization"
    class="navbar navbar-expand-lg navbar-light bg-light"
  >
    <p>{{ organization.name }}</p>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Donaciones <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Actividades<span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Novedades<span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
      <h2 class="nombres">Facebook</h2>
      <a target="_blank" [href]="'https://' + organization.facebook_url"
        ><img class="redes" src="../../../assets/images/facebook.jpg"
      /></a>
      <h2 class="nombres">Instagram</h2>
      <a target="_blank" [href]="'https://' + organization.instagram_url"
        ><img class="redes" src="../../../assets/images/ig.jpg"
      /></a>
      <h2 class="nombres">Linkedin</h2>
      <a target="_blank" [href]="'https://' + organization.linkedin_url"
        ><img class="redes" src="../../../assets/images/linkedin.png"
      /></a>
      <h2 class="nombres">Twitter</h2>
      <a target="_blank" [href]="'https://' + organization.twitter_url"
        ><img class="redes" src="../../../assets/images/twitter.jpg"
      /></a>
    </div>
  </nav>
</div> -->
<div class="container">
  <!-- Footer -->
  <footer class="text-center" style="background-color: #d8e6f0">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-1">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-2">
          <!-- Grid column -->
          <div class="col-md-2">
            <h3 class="text-uppercase font-weight-bold">
              <a href="#!" style="color: black">Inicio</a>
            </h3>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h3 class="text-uppercase font-weight-bold">
              <a href="#!" style="color: black">Donaciones</a>
            </h3>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h3 class="text-uppercase font-weight-bold">Somos Mas</h3>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h3 class="text-uppercase font-weight-bold">
              <a href="#!" style="color: black">Actividades</a>
            </h3>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h3 class="text-uppercase font-weight-bold">
              <a href="#!" style="color: black">Contacto</a>
            </h3>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-1" />

      <!-- Section: Social -->
      <section class="text-center mb-5">
        <a href="" class="mr-4" style="color: black">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="mr-4" style="color: black">
          <i class="fab fa-twitter"></i>
        </a>

        <a href="" class="mr-4" style="color: black">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="mr-4" style="color: black">
          <i class="fab fa-linkedin"></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
