<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"
    ><img height="80px" src="../../../../../assets/images/logo.png"
  /></a>
  <button type="button" class="btn btn-primary" (click)="addNewItem()">
    Menu
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right ml-auto" *ngIf="!token">
      <li class="nav-item">
        <a class="btn btn-outline-primary" routerLink="/public/login"
          >Ingresar</a
        >
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary" routerLink="/public/register"
          >Registrar</a
        >
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right ml-auto" *ngIf="token">
      <li class="nav-item">
        <button class="btn btn-outline-danger" (click)="logOut()">
          <i class="bi bi-box-arrow-right"></i> Salir
        </button>
      </li>
    </ul>
  </div>
</nav>
