<app-header (newItemEvent)="addItem()"></app-header>
<div class="sldContainer">
  <app-sidebar *ngIf="control"></app-sidebar>

  <div class="px-4 py-5">
    <div id="link">
      <button
        class="btn btn-success catAddBtn"
        [routerLink]="['/backoffice/slides/create']"
      >
        Agregar nuevo Slide
      </button>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div
        class="col d-flex align-items-start"
        *ngFor="let item of slide$ | async"
      >
        <app-card-list
          (click)="getDetail(item.id)"
          class="sober"
          [image]="item.image"
          [id]="item.id"
          [name]="item.name"
        ></app-card-list>
      </div>
    </div>
  </div>
</div>
