<h1 class ="mat-dialog-title text-center">Error</h1>
<div mat-dialog-content>
    <p class="text-center">{{message}}</p>
</div>
<div class="icon">
  <div class="icon-error">
    <div class="icon-error-x">
      <div class="icon-error-left"></div>
      <div class="icon-error-right"></div>
    </div>
    <div class="icon-error-placeholder"></div>
    <div class="icon-error-fix"></div>
  </div>
</div>
<div  mat-dialog-actions > 
  <button  mat-button  mat-dialog-close class="btn-large"> Ok </button > 
</div >
