<div class="container mt-5">
    <form [formGroup]="formulario" (ngSubmit)="aceptar()">
        <div class="row">
            <div class="col-md-12 mb-5">
                <h2><b>Slides</b></h2>
            </div>
        </div>
        <div class="column formulario">
            <div class="col-md-6 mb-3">
                <label for="nombre" class="form-label">Name (minimo 4 caracteres)</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre" minlength="4"
                    [(ngModel)]="slides!.name" formControlName="name">
                <small class="invalid"
                    *ngIf="formulario.get('name')?.errors?.required && formulario.get('name')?.touched">
                    El nombre es requerido
                </small>
            </div>


            <div class="col-md-6 mb-3">

                <label for="apellido" class="form-label">Order</label>
                <input type="text" class="form-control" id="apellido" placeholder="Orden" [(ngModel)]="slides!.order"
                    formControlName="order">
                <small class="invalid"
                    *ngIf="formulario.get('order')?.errors?.required && formulario.get('order')?.touched ">
                    La orden es requerida
                </small>
            </div>



            <div class="col-md-6 mb-5">
                <label for="foto" class="form-label">Image</label>
                <input class="form-control" type="file" (change)="onChange($event)" accept="image/png,image/jpg"
                    [(ngModel)]="slides!.image" formControlName="slides.image" id="foto">
                <small class="invalid"
                    *ngIf="formulario.get('image')?.errors?.required && formulario.get('image')?.touched ">La foto es
                    requerida</small>

            </div>

            <div class="col-md-6 mb-3">
                <label for="apellido" class="form-label">Description
                    <ckeditor name="desc" type="text-area" class="form-control" rows="3" id="apellido"
                        placeholder="Ingrese apellido" [(ngModel)]="slides!.description" formControlName="description">
                    </ckeditor>
                </label>
            </div>

        </div>

        <div class="row mt-4">


            <div class="col-md-12 d-grid gap-2">

                <button type="submit" class="btn btn-primary btn-block" [disabled]="formulario.invalid">
                    Aceptar
                </button>
            </div>




        </div>
    </form>


</div>