<div class="behind">
  <div class="container mt-5">
    <form [formGroup]="activityForm" (ngSubmit)="createAndEdit()">
      <div class="row">
        <div class="col-md-12 mb-5">
          <h2>
            <b>{{ titleForm }}</b>
          </h2>
        </div>
      </div>
      <div class="column formulario">
        <div class="col-md-12 mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control forms-color"
            id="name"
            placeholder="Ingrese nombre"
            minlength="4"
            formControlName="name"
            [ngClass]="{
              'is-invalid': name?.invalid && name?.touched,
              'is-valid': name?.valid
            }"
          />
          <small
            class="invalid"
            *ngIf="
              activityForm.get('name')?.errors?.required &&
              activityForm.get('name')?.touched
            "
          >
            *El nombre es requerido
          </small>
          <small
            class="invalid"
            *ngIf="
              !activityForm.get('name')?.errors?.space &&
              activityForm.get('name')?.errors?.pattern &&
              activityForm.get('name')?.touched
            "
          >
            *El nombre no es valido
          </small>
          <small
            class="invalid"
            *ngIf="
              activityForm.get('name')?.errors?.space &&
              activityForm.get('name')?.touched
            "
          >
            *El nombre no tiene que contener espacios
          </small>
        </div>

        <div class="col-md-6 mb-5">
          <div *ngIf="edit">
            <label>Imagen</label>
            <br />
            <img [src]="images" width="350px" />
          </div>
          <label for="foto" class="form-label">{{ imagetitle }}</label
          ><br />

          <input
            type="file"
            (change)="onChange($event)"
            accept="image/png,image/jpg"
            formControlName="image"
            id="foto"
          />
          <br />
          <small
            class="invalid"
            *ngIf="
              activityForm.get('image')?.errors?.required &&
              activityForm.get('image')?.touched
            "
            >La foto es requerida</small
          >
        </div>

        <div class="col-md-12 mb-3">
          <label for="description" class="form-label"
            >Descripcion
            <ckeditor
              name="desc"
              type="text-area"
              rows="3"
              id="description"
              class="forms-color"
              placeholder="Ingrese descripcion"
              formControlName="description"
            >
            </ckeditor>
          </label>
        </div>
        <small
          class="invalid"
          *ngIf="
            activityForm.get('description')?.errors?.required &&
            activityForm.get('description')?.touched
          "
          >La descripcion es requerida</small
        >
      </div>

      <div class="row mt-4">
        <div class="col-md-12 d-grid gap-2">
          <button
            type="submit"
            class="btn-block btn"
            [ngClass]="{
              'btn-outline-primary': activityForm.invalid,
              'btn-primary': activityForm.valid
            }"
            [disabled]="activityForm.invalid"
          >
            Aceptar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
