<div class="container contain mt-5">
  <form [formGroup]="formulario" (ngSubmit)="createAndEditCategory()">
    <div class="row">
      <div class="col-md-12 mb-5">
        <h2>
          <b>{{ title }}</b>
        </h2>
      </div>
    </div>
    <div class="column formulario">
      <div class="col-md-12 mb-3">
        <br />
        <br />
        <label for="name" class="form-label"
          >Name (cuatro caracteres minimo)</label
        >
        <input
          minlength="4"
          type="text"
          class="form-control"
          id="nombre"
          placeholder="Name"
          formControlName="name"
        />
        <small
          class="invalid"
          *ngIf="
            formulario.get('name')?.errors?.required &&
            formulario.get('name')?.touched
          "
        >
          El nombre es requerido
        </small>
      </div>
      <div class="col-md-12 mb-3">
        <label for="apellido" class="form-label"
          >Description
          <ckeditor
            type="text"
            id="description"
            placeholder="Description"
            formControlName="description"
          >
          </ckeditor>
        </label>
      </div>
      <small
        class="invalid"
        *ngIf="
          formulario.get('description')?.errors?.required &&
          formulario.get('description')?.touched
        "
      >
        La descripcion es requerida
      </small>

      <div class="col-md-6 mb-5">
        <div *ngIf="edit">
          <label>Imagen</label>
          <br />
          <img [src]="image" width="350px" />
        </div>
        <label for="foto" class="form-label">{{ tituloImage }}</label
        ><br />
        <input
          type="file"
          accept="image/png,image/jpg"
          formControlName="image"
          id="foto"
          (change)="onChange($event)"
        />
        <small
          class="invalid"
          *ngIf="
            formulario.get('image')?.errors?.required &&
            formulario.get('image')?.touched
          "
          >La imagen es requerida</small
        >
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12 d-grid gap-2">
        <button
          *ngIf="formulario.invalid"
          style="background-color: red"
          type="submit"
          class="btn-block"
          [disabled]="formulario.invalid"
        >
          Completar campos
        </button>
        <button class="btn-block" *ngIf="formulario.valid">Aceptar</button>
      </div>
    </div>
  </form>
</div>
