<section>
    <div class="coming-soon">
        <div class="time-countdown">
            <p>Muy pronto comenzara el evento</p>
            <ul>
                <li class="count-bg-one radius"><span id="days">{{day}}</span>Dias</li>
                <li class="count-bg-two radius"><span id="hours">{{hours}}</span>Horas</li>
                <li class="count-bg-three radius"><span id="minutes">{{minutes}}</span>Minutos</li>
                <li class="count-bg-four radius"><span id="seconds">{{seconds}}</span>Segundos</li>
            </ul>
        </div>
    </div>
</section>
