<div class="container mt-5">
    <form  (ngSubmit)="aceptar()">
        <div class="row">
            <div class="col-md-12 mb-5">
                <h2><b>Registros Miembros</b></h2>
            </div>
        </div>
        <div class="row formulario">
            <div class="col-md-6 mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Ingrese nombre" formControlName="name">
                <small class="invalid" *ngIf="formulario.get('name')?.errors?.required && formulario.get('name')?.touched">
                    El nombre es requerido
                </small>

            </div>

            <div class="col-md-6 mb-3">

              <label for="image" class="form-label"  >Imagen</label>
              <input class="form-control" type="file"  accept="image/png,image/jpeg"  ormControlName="image" id="image">
              <small class="invalid" *ngIf="formulario.get('image')?.errors?.required && formulario.get('image')?.touched ">La Imagen es requerida</small>

            </div>
            <div class="col-md-6 mb-3">

                <label for="descrption" class="form-label">Descripccion</label>
                <input type="text" class="form-control" id="description" placeholder="Ingrese la description" formControlName="description">
                
            </div>


            <div class="col-md-6 mb-3">

                <label for="facebook" class="form-label">Facebook</label>
                <input type="text" class="form-control" id="facebook" placeholder="Ingrese el facebook" formControlName="facebook">
             
  

            </div>

            <div class="col-md-6 mb-3">

              <label for="linkeding" class="form-label">Linkedin</label>
              <input type="text" class="form-control" id="linkeding" placeholder="Ingrese alainkeding" formControlName="linkeding">
            

            </div>
        
           

        </div>

        <div class="row mt-4">


            <div class="col-md-12 d-grid gap-2">

                <button type="submit" class="btn btn-primary btn-block" [disabled]="formulario.invalid" >
                    Aceptar
                </button>
            </div>

        </div>
    </form>
</div>


