/*Home styles*/
.home-container {
  text-align: center;
  align-items: center;
  background-color: #ebeff1;
}
.home-bienvenida {
  color: black;
  background-color: rgb(231, 220, 220);
  opacity: 0.85;
  display: table;
  margin: 0px auto 0px auto;
}

.titulo-header {
  color: black;
  background-color: rgb(231, 220, 220);
  opacity: 0.85;
  display: table;
  margin: 0px auto 0px auto;
}
.body-home {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  align-items: center;
  background-color: #ebeff1;
  justify-content: center;
}

.card-img-top {
  height: 286px;
  width: 286px;
}

/*Home styles*/
