<div *ngIf="load">
  <app-loaderspinner></app-loaderspinner>
</div>
<div *ngIf="!load" class="container home-container">
  <app-navbar></app-navbar>

  <div class="slides-home">
    <app-slides [slideList]="slideEdit"></app-slides>
  </div>

  <div class="home-bienvenida" [innerHTML]="welcomeText"></div>
  <div class="titulo-header">
    <app-titles></app-titles>
  </div>
  <div class="body-home">
    <div class="item-list" *ngFor="let item of itemList">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="{{ item.image }}" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
