
  <h1 class ="mat-dialog-title text-center">Confirmación</h1>
  <div mat-dialog-content>
      <p class="text-center">{{message}}</p>
  </div>
  <div class="sa">
    <div class="sa-success">
    <div class="sa-success-tip"></div>
    <div class="sa-success-long"></div>
    <div class="sa-success-placeholder"></div>
    <div class="sa-success-fix"></div>
    </div>
    </div>
  <div  mat-dialog-actions > 
    <button  mat-button  mat-dialog-close class="btn-large"> Ok </button > 
  </div >







