<app-header (newItemEvent)="addItem()" ></app-header>
<div class="dashContainer">
<app-sidebar *ngIf="control"></app-sidebar>
<div class="px-5 py-5 animate__animated animate__fadeIn">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    
    <div @left class="col-3 mb-5 d-flex">
      <div
        class="card text-white bg-info cardcorrecciones"
        style="width: 18rem"
        (click)="go('novelties')"
      >
        <img
          class="card-img-top imgs"
          src="../../../../../assets/iconDeshboard/Novedades.png"
          alt="avatar"
        />
        <div class="card-body text-center">
          <h4 class="card-title"><b>Novedades</b></h4>
        </div>
      </div>
    </div>

    <div @up class="col-3 mb-5 d-flex">
      <div
        class="card text-white bg-danger cardcorrecciones"
        style="width: 18rem"
        (click)="go('activities')"
      >
        <img
          class="card-img-top"
          src="../../../../../assets/iconDeshboard/actividades.png"
          alt="avatar"
        />
        <div class="card-body text-center">
          <h4 class="card-title"><b>Actividades</b></h4>
        </div>
      </div>
    </div>

    <div @up class="col-3 mb-5 d-flex">
      <div
        class="card text-white bg-warning cardcorrecciones"
        style="width: 18rem"
        (click)="go('categories')"
      >
        <img
          class="card-img-top"
          src="../../../../../assets/iconDeshboard/categorias.png"
          alt="avatar"
        />
        <div class="card-body text-center">
          <h4 class="card-title"><b>Categorias</b></h4>
        </div>
      </div>
    </div>
    <div @right class="col-3 mb-5 d-flex">
      <div
        class="card text-white bg-primary cardcorrecciones"
        style="width: 18rem"
        (click)="go('testimony')"
      >
        <img
          class="card-img-top"
          src="../../../../../assets/iconDeshboard/testimonios.png"
          alt="avatar"
        />
        <div class="card-body text-center">
          <h4 class="card-title"><b>Testimonios</b></h4>
        </div>
      </div>
    </div>

    <div @down class="col-3 mt-5 d-flex">
      <div
        class="card text-white bg-warning cardcorrecciones"
        style="width: 18rem"
        (click)="go('community')"
      >
        <img
          class="card-img-top"
          src="../../../../../assets/iconDeshboard/organizacion.png"
          alt="avatar"
        />
        <div class="card-body text-center">
          <h4 class="card-title"><b>Comunidad</b></h4>
        </div>
      </div>
    </div>

    <div @left class="col-3 mt-5 d-flex">
      <div
        class="card text-white bg-primary cardcorrecciones"
        style="width: 18rem"
        (click)="go('slides')"
      >
        <img
          class="card-img-top"
          src="../../../../../assets/iconDeshboard/slider.png"
          alt="avatar"
        />
        <div class="card-body text-center">
          <h4 class="card-title"><b>Slides</b></h4>
        </div>
      </div>
    </div>

    <div @right class="col-3 mt-5 d-flex">
      <div
        class="card text-white bg-info cardcorrecciones"
        style="width: 18rem"
        (click)="go('user')"
      >
        <img
          class="card-img-top"
          src="../../../../../assets/iconDeshboard/user.png"
          alt="avatar"
        />
        <div class="card-body text-center">
          <h4 class="card-title"><b>Usuario</b></h4>
        </div>
      </div>
    </div>

    <div @up class="col-3 mt-5 d-flex">
      <div
        class="card text-white bg-danger cardcorrecciones"
        style="width: 18rem"
        (click)="go('members')"
      >
        <img
          class="card-img-top"
          src="../../../../../assets/iconDeshboard/miembros.png"
          alt="avatar"
        />
        <div class="card-body text-center">
          <h4 class="card-title"><b>Miembros</b></h4>
        </div>
      </div>
    </div>
  </div>
</div>
</div>