<div class="container-fluid">
  <div class="row">
    <div class="row-cols-lg-3 d-flex flex-column bg-dark">
      <div class="text-white min-vh-100 sideCol">
        <ul>
          <div class="nav-item sideBtn">
            <button
              type="button"
              class="btn btn-primary btnSide"
              (click)="go('members')"
            >
              Miembros
            </button>
          </div>

          <div class="nav-item sideBtn">
            <button
              type="button"
              class="btn btn-primary btnSide"
              (click)="go('slides')"
            >
              Slides
            </button>
          </div>
          <div class="nav-item sideBtn">
            <button
              type="button"
              class="btn btn-primary btnSide"
              (click)="go('categories')"
            >
              Categorias
            </button>
          </div>
          <div class="nav-item sideBtn">
            <button
              type="button"
              class="btn btn-primary btnSide"
              (click)="go('activities')"
            >
              Actividades
            </button>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
